* {
  padding: 0;
  margin: 0;
}

nav.navbar ul li.nav-item {
  background-color: #fff;
  border: none;
}
div#wrapper .navbar-nav {
  background-color: #6e3095;
}

.row .card-deck .card .img2 {
  height: 355px;
  width: 213px;
}

.row .card-deck .card .img3 {
  height: 336px;
  width: 250px;
}
